h1{
    text-align:center;
}
h3{
    text-align: center;
}
.border{
    border: 10px;
}
body{
    margin: 0%;
    justify-content: center;

}
.main{
    margin: 5%;
    text-align: center;
    
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(193, 91%, 62%);
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    font-size: large;
    background-attachment: fixed;
}
.navbar a{
    color: rgb(8, 8, 8);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    
}
.navbar a:hover{
    background-color: rgba(162, 196, 216, 0.895);
}
.navbar li{
   float: left;
}

.container {
            width: fit-content;
            text-align: center;
        }

        .title {
            background: rgb(240, 161, 105);
            padding: 15px;
            font-size: 32px;
            font-weight: bold;
            border: black;
            border-style: solid;
            border-radius: 10px;
            width: 300px;
            margin:0px auto;
            text-align: center;
        }

        table {
            text-align: center;
            width: 100%;
            border-collapse: collapse;
            background: rgb(154, 173, 48);
        }
         th, td {
            border: 2px solid rgb(0, 0, 0);
            padding: 15px;
            text-align: center;
            font-size: 16px;
        }
        
        th {
            background-color: #e0d42bdf;
            font-weight: bold;
        }
/* Row Colors */
        .monday {
            background-color:rgb(229, 139, 228);
        }

        .tuesday {
            background-color: #4db8ff;
            color: white;
        }

        .wednesday {
            background-color: #bed576;
        }

        .thursday {
            background-color: #ffd6cc;
        }

        .friday {
            background-color: #6fa8ff;
            color: white;
        }
        